<!-- footer.html-->
<footer>
    <div class="footer-content">
        <img src="/assets/images/hockey-mayen-white.webp" alt="Hockey Mayen Logo" class="footer-logo">
        <p>
            <a href="/anmeldung"
               class="{% if page.url == '/anmeldung' or page.url == '/anmeldung/' %}active{% endif %}">
                Werde Mitglied
            </a>
            <a href="/kontakt"
               class="{% if page.url == '/kontakt' or page.url == '/kontakt/' %}active{% endif %}">
                Kontakt
            </a>
            <a href="/chronik"
               class="{% if page.url == '/chronik' or page.url == '/chronik/' %}active{% endif %}">
                Chronik
            </a>
            <a href="/impressum"
               class="{% if page.url == '/impressum' or page.url == '/impressum/' %}active{% endif %}">
                Impressum
            </a>
          </p>

        <!-- Icons für Facebook & Shop nebeneinander setzen -->
        <div class="footer-social-container">
            <a href="https://verband.hockey.de/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/dhb_200_200.webp" loading="lazy" decoding="async" alt="Hockey Mayen Deutscher Hockey Bund" class="footer-DHB-icon" >
            </a>
            <a href="https://rps.prd.dhb.digital/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/Logo-RPS_200_200.webp" loading="lazy" decoding="async" alt="Hockey Mayen RPS Hockey" class="footer-rps-icon">
            </a>
            <a href="https://www.hockeyfriends.com/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/shop/shop200_200.webp" loading="lazy" decoding="async" alt="Hockey Mayen Hockey Shop Hockeyfriends.com" class="footer-shop-icon">
            </a>
            <a href="https://www.facebook.com/HcGrunWeissMayen/?locale=de_DE" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/facebook.webp" loading="lazy" decoding="async" alt="Hockey Mayen bei Facebook" class="footer-social-icon">
            </a>
        </div>
    </div>
</footer>


