<!-- footer.html-->
<footer>
    <div class="footer-content">
        <img src="/assets/images/hockey-mayen-white.png" alt="Hockey Mayen Logo" class="footer-logo">
        <p>
            <a href="/sportstaetten"
               class="{% if page.url == '/sportstaetten' or page.url == '/sportstaetten/' %}active{% endif %}">
                Unsere Sportstätten
            </a>
            <a href="/anmeldung"
               class="{% if page.url == '/anmeldung' or page.url == '/anmeldung/' %}active{% endif %}">
                Anmeldung
            </a>
            <a href="/impressum"
               class="{% if page.url == '/impressum' or page.url == '/impressum/' %}active{% endif %}">
                Kontakt & Impressum
            </a>
        </p>
    </div>
</footer>

