<!-- footer.html-->
<footer>
    <div class="footer-content">
        <img src="/assets/images/hockey-mayen-white.png" alt="Hockey Mayen Logo" class="footer-logo">
        <p>
            <a href="/anmeldung"
               class="{% if page.url == '/anmeldung' or page.url == '/anmeldung/' %}active{% endif %}">
                Werde Mitglied
            </a>
            <a href="/impressum"
               class="{% if page.url == '/impressum' or page.url == '/impressum/' %}active{% endif %}">
                Impressum
            </a>
        </p>

        <!-- Icons für Facebook & Shop nebeneinander setzen -->
        <div class="footer-social-container">
            <a href="https://www.hockeyfriends.com/" target="_blank">
                <img src="/assets/images/shop/shop.png" alt="Hockey Shop" class="footer-shop-icon">
            </a>
            <a href="https://rps.prd.dhb.digital/" target="_blank">
                <img src="/assets/images/logo-rheinland.png" alt="Hockey Shop" class="footer-shop-icon">
            </a>
            <a href="https://www.facebook.com/HcGrunWeissMayen/?locale=de_DE" target="_blank">
                <img src="/assets/images/facebook.png" alt="Facebook Logo" class="footer-social-icon">
            </a>
        </div>
    </div>
</footer>


