<header>
    <div class="header-container">
        <!-- Logo separat platzieren -->
        <div class="logo-container">
            <img src="/assets/images/logo_hc80.webp" alt="Vereinslogo" class="logo">
        </div>

        <!-- Flexbox-Container für Titel und Navigation -->
        <div class="header-content">
            <div class="title-text">
                <h1 class="club-title">Hockey-Club Grün-Weiss TuS Mayen</h1>
                <p class="subtitle">- Seit 1919 -</p>
            </div>
            <nav>
                <ul class="nav-grid">
                    <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Aktuell</a></li>
                    <li><a href="/verein/" class="{% if page.url contains '/verein' %}active{% endif %}">Der Club</a></li>
                    <li><a href="/training/" class="{% if page.url contains '/training' %}active{% endif %}">Training</a></li>
                    <li><a href="/turniere/" class="{% if page.url contains '/turniere' %}active{% endif %}">Turniere</a></li>
                    <li><a href="/veranstaltungen/" class="{% if page.url contains '/veranstaltungen' %}active{% endif %}">Veranstaltungen</a></li>
                    <li><a href="/sportstaetten/" class="{% if page.url contains '/sportstaetten' %}active{% endif %}">Sportstätten</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
