<!-- header.html-->
<header>
    <div class="header-container">
        <!-- Flexbox-Container für Titel und Zusatztext -->
        <div class="title-container">
            <img src="/assets/images/Logo_transparenter_Hintergrund_300dpi-300x300.png" alt="Vereinslogo" class="logo">
            <div class="title-text">
                <h1 class="club-title">Hockey-Club Grün-Weiss TuS Mayen</h1>
                <p class="subtitle">✵ Seit 1919 ✵</p>
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav-grid">
            <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Über uns</a></li>
            <li><a href="/training" class="{% if page.url contains '/training' %}active{% endif %}">Training</a></li>
            <li><a href="/turniere" class="{% if page.url contains '/turniere' %}active{% endif %}">Turniere</a></li>
            <li><a href="/veranstaltungen" class="{% if page.url contains '/veranstaltungen' %}active{% endif %}">Veranstaltungen</a></li>
        </ul>
    </nav>
</header>
