/* captcha.css: Container für reCAPTCHA */
.recaptcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh; !* Mindestens die Höhe des Viewports *!*/
    padding-top: 0;    /* Entfernt zusätzlichen Platz */
    box-sizing: border-box;
}


/* Formularstil */
#captcha-form {
    text-align: center;        /* Zentriert den Text und die Inhalte */
}

/* Button-Stil (optional für modernes Design) */
#captcha-form button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #004d26; /* Dunkelgrün passend zur Website */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#captcha-form button:hover {
    background-color: #006837; /* Helleres Grün beim Hover */
}
