.event-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 450px;  /* Passe die Höhe an, damit das Bild komplett sichtbar bleibt */
    max-height: 100%;
    overflow: hidden;  /* Verhindert Überlauf */
}

.event-image {
    width: 100%;  /* Die volle Breite des Containers nutzen */
    height: 100%; /* Sicherstellen, dass die Höhe angepasst wird */
    object-fit: contain; /* Bild vollständig einpassen, ohne Beschnitt */
}

.event-nav {
    background-color: rgba(2, 11, 53, 0.17);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 10;
    border-radius: 50%; /* Macht die Buttons rund */
    width: 40px; /* Gleiche Breite und Höhe für Kreisform */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-nav:hover {
    background: rgba(2, 11, 53, 0.17);
}

.event-nav.left {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.event-nav.right {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

/* Container für die Punkte unter dem Slider */
.event-dots {
    display: flex;
    justify-content: center;
}

/* Styling der Punkte */
.dot {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
    /* Hebt die Dots näher ans Bild */
    margin: -25px 5px 0;
}

/* Aktiver Punkt */
.dot.active {
    background-color: #008f5a; /* Farbe für aktiven Punkt */
    width: 14px;
    height: 14px;
    margin: -26px 5px 0;
}

@media screen and (max-width: 600px) {
    .tile-aktuell {
        width: 100%; /* Volle Breite nutzen */
        max-width: 100%; /* Sicherstellen, dass nichts begrenzt */
        margin: 0; /* Falls es außen Platz gibt, diesen entfernen */
    }

    .event-slider {
        width: 100%; /* Damit der Slider nicht schmal bleibt */
    }

    .event-image {
        max-width: 100%; /* Volle Breite nutzen */
        height: auto; /* Verhältnis beibehalten */
    }

    .event-nav {
        width: 35px; /* Kleinere Navigation für bessere Optik */
        height: 35px;
        padding: 8px;
    }

    .event-nav.left {
        left: 10px;
    }

    .event-nav.right {
        right: 10px;
    }

    .event-dots {
        margin-top: -5px; /* Dots näher an das Bild setzen */
    }
}
