footer {
    background-color: #004d26; /* Dunkelgr체n */
    color: white; /* Standardfarbe f체r den Text */
    text-align: center;
    padding: 20px 10px;
    margin-top: 30px;
    font-size: 14px;
}

footer a {
    color: white; /* Gleiche Farbe wie der Standardtext im Footer */
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline; /* Unterstreicht den Link bei Hover */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert Inhalte im Footer */
    gap: 10px; /* Abstand zwischen Bild und Text */
}

.footer-logo {
    max-width: 180px; /* Reduzierte Breite f체r das Logo */
    height: auto; /* Beibehaltung des Seitenverh채ltnisses */
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
}
