/* footer.css */
footer {
    background: linear-gradient(135deg, rgb(1, 44, 22), rgb(18, 209, 91));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: normal;
    transition: color 0.3s;
}

footer a:hover {
    color: #a3d9b2;
}

footer a.active {
    color: #a3d9b2 !important;
}

/* Ensure the footer content is centered */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px; /* More space between elements */
    width: 100%;
}

/* Keep logo size fixed */
.footer-logo {
    width: 250px; /* Keep the same size */
    height: auto;
}


/* DHB Icon */
.footer-DHB-icon {
    width: 100px; /* Keep desired shop icon size */
    height: auto;
    transition: opacity 0.31s;
    opacity: 0.8;
}
.footer-DHB-icon:hover {
    opacity: 0.5;
}


/* RPS Icon */
.footer-rps-icon {
    width: 60px; /* Keep desired shop icon size */
    height: auto;
    transition: opacity 0.31s;
    opacity: 0.9;
}

.footer-rps-icon:hover {
    opacity: 0.5;
}

/* Shop Icon */
.footer-shop-icon {
    width: 55px; /* Keep desired shop icon size */
    height: auto;
    transition: opacity 0.31s;
}

.footer-shop-icon:hover {
    opacity: 0.5;
}


/* Facebook Icon */
.footer-social-icon {
    width: 30px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%);
    transition: opacity 0.31s;
    opacity: 0.9;
}

.footer-social-icon:hover {
    opacity: 0.5;
}


/* Center text links */
.footer-content p {
    margin: 5px 0;
}


/* Center the icons inside footer-social-container */
.footer-social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures full width */
    max-width: 350px; /* Prevents stretching */
    /*gap: 30px; !* Space between icons *!*/
}

/* Responsive: Limit width on smartphones */
@media (max-width: 600px) {
    .footer-social-container {
        max-width: 75vw; /* Limits the width to 90% of the viewport width */
        gap: 1px; /* Reduce gap for smaller screens */
    }

    .footer-content {
        gap: 0px; /* More space between elements */
    }


    /* Keep logo size fixed */
    .footer-logo {
        width: 150px; /* Keep the same size */
    }

    /* DHB Icon */
    .footer-DHB-icon {
        width: 65px; /* Keep desired shop icon size */
    }

    /* RPS Icon */
    .footer-rps-icon {
        width: 45px; /* Keep desired shop icon size */
    }

    /* Shop Icon */
    .footer-shop-icon {
        width: 40px; /* Keep desired shop icon size */
    }
    /* Facebook Icon */
    .footer-social-icon {
        width: 25px;
    }


}


