/* Allgemeine Stile */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh; /* Stellt sicher, dass der Body mindestens die Höhe des Bildschirms hat */
    font-family: "Open Sans", Arial, sans-serif; /* Open Sans als Standardschrift */

}

/* Verhindert das Springen durch den Scrollbalken */
html {
    overflow-y: scroll; /* Scrollbalken immer anzeigen */
}
