/* Allgemeine Stile */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh; /* Stellt sicher, dass der Body mindestens die Höhe des Bildschirms hat */
    font-family: "Open Sans", Arial, sans-serif; /* Open Sans als Standardschrift */

}

/* Verhindert das Springen durch den Scrollbalken */
html {
    overflow-y: scroll; /* Scrollbalken immer anzeigen */
}

.iframe-container {
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.email-highlight a {
    color: #014022 !important; /* Hellgrün */
    font-weight: bold;
    text-decoration: none;
}

.email-highlight a:hover {
    text-decoration: underline;
    color: #014022 !important; /* Etwas dunkleres Grün beim Hover */
}

