/* Mobile Anpassungen */
@media (max-width: 600px) {
    .logo {
        max-width: 17%;
        /*margin-left: 20px; !* Abstand vom linken Rand *!*/
        /* Alternativ */
         padding-left: 30px;
    }

    .draft-stamp {
        max-width: 20%;
    }

    header h1 {
        font-size: 4vw; /* 4% der Bildschirmbreite als Schriftgröße */
    }

    nav ul {
        gap: 5vw; /* Abstand zwischen Links als 5% der Bildschirmbreite */
    }

    .tiles-container {
        grid-template-columns: 1fr; /* 1 Spalte für kleine Bildschirme */
        gap: 15px; /* Weniger Abstand auf kleinen Bildschirmen */
    }

    /* Auf Smartphones: 2x2 Grid */
    .nav-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
        grid-gap: 5px; /* Abstand zwischen den Elementen */
        text-align: center;
    }

    nav ul li {
        width: 100%;
    }

    /* Höhe für das Training-Bild in der mobilen Ansicht */
    .training-image-container,
    .turniere-image-container {
        height: 200px; /* Falls nötig, Höhe anpassen */
        position: relative; /* Lässt Bilder überlappen */
    }

    /* Mobile Version: Crossfade-Effekt beibehalten */
    .training-image-container img,
    .turniere-image-container img{
        position: absolute; /* Wieder absolute Positionierung */
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 5s ease-in-out; /* Sanfter Übergang */
    }

    .training-image-container img.active,
    .turniere-image-container img.active {
        opacity: 1; /* Bild einblenden */
    }
}
