/* Container für Kacheln */
.tiles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 Spalten */
    gap: 20px; /* Abstand zwischen den Kacheln */
    margin-top: 20px;
    width: 90%; /* Nutze 90% der Breite des Containers */
    margin-left: auto; /* Zentriert den Container horizontal */
    margin-right: auto;
    max-width: 1200px; /* Begrenze die Breite auf maximal 1200px */
}

/* Einzelne Kachel */
.tile {
    color: #6c757d; /* Grauer Farbton wie bei anderen Texten */
    display: flex;
    flex-direction: column; /* Inhalte vertikal anordnen */
    justify-content: space-between; /* Platz zwischen den Elementen */
    align-items: center; /* Zentriert Inhalte horizontal */
}

/* Kachel-Bild */
.tile img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Abgerundete Ecken am Bild */
    margin-top: 10px;
}
.tile a {
    display: inline-block;
    margin-top: 10px;
    color: #004d26;
    font-weight: bold;
    text-decoration: none;
}

.tile a:hover {
    text-decoration: underline;
}
