.detail-row {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 4px;
    font-size: 0.95em;
    gap: 10px;
}

.detail-row:nth-child(even) {
    background-color: #b8dac5;
    padding: 2px 4px;
    border-radius: 4px;
}

.detail-row .date,
.detail-row .location {
    display: inline-block;
    width: 48%;
}

.detail-row .date {
    width: 40%;
    text-align: left;
    font-weight: 500;
}

.detail-row .location {
    width: 60%;
    text-align: right;
    font-style: italic;
}

.video-section {
    max-width: 1200px;     /* nimm den gleichen Wert wie bei main / tiles */
    margin: 0 auto;
 }

/* Karte darf volle Breite nutzen */
.video-card {
    width: 100%;
}

/* Video responsiv und breit */
.video-card video {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);  /* ähnlich Tile */
    border-radius: 12px;
    clip-path: inset(0 round 12px);
    margin-bottom: 20px;
}