<!-- default.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://unpkg.com" crossorigin>

    {% assign canonical_url = page.url | replace:'index.html','' %}
    {% unless canonical_url == '/' %}
    {% assign last_char = canonical_url | slice: -1, 1 %}
    {% if last_char != '/' %}
    {% assign canonical_url = canonical_url | append:'/' %}
    {% endif %}
    {% endunless %}
    <link rel="canonical" href="https://hockey-mayen.de{{ canonical_url }}">

    <meta name="robots" content="index, follow">
    <meta name="description"
          content="Offizielle Website des Hockey-Club Grün-Weiss TuS Mayen e.V. 1919 – Feldhockey und Hallenhockey Training, Teams, Turniere und Vereinsleben in Mayen. Feld- und Hallenhockey für Kinder, Jugendliche und Erwachsene." />

    <meta property="og:title" content="Hockey-Club Grün-Weiss TuS Mayen e.V. 1919" />
    <meta property="og:description" content="Training, Teams, Turniere und Vereinsleben in Mayen." />

    <meta property="og:url" content="https://hockey-mayen.de{{ canonical_url }}" />

    <meta property="og:image" content="https://hockey-mayen.de/assets/images/og.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hockey Club Grün-Weiss TuS Mayen e.V. 1919" />
    <meta property="og:locale" content="de_DE" />

    {% if page.scripts %}
    {% for script in page.scripts %}
    <script defer src="{{ script }}"></script>
    {% endfor %}
    {% endif %}


    <!-- Favicon für Browser-Tabs -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/assets/favicon/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" href="/favicon.ico">

    <link rel="manifest" href="/site.webmanifest">

    <link rel="apple-touch-icon" sizes="180x180" href="/maskable_icon_x192.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- css-->
<!--    <link rel="stylesheet" href="/assets/css/global.css">-->
<!--    <link rel="stylesheet" href="/assets/css/header.css">-->
<!--    <link rel="stylesheet" href="/assets/css/aktuell.css">-->
<!--    <link rel="stylesheet" href="/assets/css/footer.css">-->
<!--    <link rel="stylesheet" href="/assets/css/tiles.css">-->
<!--    <link rel="stylesheet" href="/assets/css/chronik.css">-->
<!--    <link rel="stylesheet" href="/assets/css/impressum.css">-->
<!--    <link rel="stylesheet" href="/assets/css/events.css">-->
<!--    <link rel="stylesheet" href="/assets/css/highlights.css">-->
<!--    <link rel="stylesheet" href="/assets/css/kontakt.css">-->
<!--    <link rel="stylesheet" href="/assets/css/training.css">-->
<!--    <link rel="stylesheet" href="/assets/css/turniere.css">-->

    <link rel="stylesheet" href="/assets/css/all.min.css">

    <!-- title -->
    <title>Hockey-Club Grün-Weiss TuS Mayen e.V. 1919 | Feld- & Hallenhockey Mayen</title>
    <!-- Strukturierte Daten für Google -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SportsOrganization",
            "areaServed": {
                "@type": "City",
                "name": "Mayen"
            },
            "memberOf": {
                "@type": "SportsOrganization",
                "name": "Sportvereine in Mayen"
            },
            "name": "Hockey Club Grün-Weiss TuS Mayen e.V. 1919",
            "url": "https://hockey-mayen.de",
            "logo": "https://hockey-mayen.de/assets/images/Logo_transparenter_Hintergrund_300dpi-300x300.png",
            "sport": ["Feldhockey", "Hallenhockey"],
            "foundingDate": "1919",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Hockey Kunstrasenplatz Stadion Nettetal Mayen und Sporthalle Albert-Schweitzer-Realschule Mayen",
                "postalCode": "56727",
                "addressLocality": "Mayen",
                "addressCountry": "DE"
            },
            "sameAs": [
                "https://www.facebook.com/HcGrunWeissMayen/",
                "https://verband.hockey.de/",
                "https://rps.prd.dhb.digital/"
            ],
            "knowsAbout": [
                "Hockey",
                "Feldhockey",
                "Hallenhockey",
                "Jugendsport",
                "Vereinssport in Mayen",
                "Sport in Mayen"
            ],
            "contactPoint": {
                "@type": "ContactPoint",
                "contactType": "Kontakt",
                "url": "https://hockey-mayen.de/kontakt/",
                "availableLanguage": ["de"]
            }
        }
    </script>

    <script defer>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>

    <script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer>
        document.addEventListener("DOMContentLoaded", function () {
            AOS.init({
                offset: 20,       // Scroll-Trigger-Versatz
                duration: 800,     // Dauer in Millisekunden
                easing: 'ease-out', // Easing-Funktion
                delay: 0,
                once: true         // Animation nur beim ersten Scrollen
            });
        });
    </script>

    <!-- JavaScript laden -->
    <script defer src="/assets/js/scrollTop.js"></script>
    <script defer src="/assets/js/highlights.js"></script>
</head>

<body>
    <!-- Scroll-Button -->
    <button id="scrollTopBtn" onclick="scrollToTop()">&#8679;</button>



    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}

</body>
</html>