<!-- default.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#004d26">
    <!-- Favicon für Browser-Tabs -->
    <link rel="icon" type="image/png" href="/assets/images/Logo_transparenter_Hintergrund_300dpi-300x300.png">
    <link rel="icon" type="image/x-icon" href="/assets/images/Logo_transparenter_Hintergrund_300dpi-300x300.ico">
    <link rel="apple-touch-icon" href="/assets/images/Logo_transparenter_Hintergrund_300dpi-300x300.png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <!-- css -->
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/aktuell.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/tiles.css">
    <link rel="stylesheet" href="/assets/css/chronik.css">
    <link rel="stylesheet" href="/assets/css/impressum.css">
    <link rel="stylesheet" href="/assets/css/events.css">
    <link rel="stylesheet" href="/assets/css/highlights.css">
    <link rel="stylesheet" href="/assets/css/kontakt.css">
    <link rel="stylesheet" href="/assets/css/training.css">

    <!-- css min -->
<!--    <link rel="stylesheet" href="/assets/css/all.min.css">-->

    <!-- title -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap">
    <title>Hockey-Club Grün-Weiss TuS Mayen</title>
</head>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        AOS.init({
            offset: 20,       // Scroll-Trigger-Versatz
            duration: 800,     // Dauer in Millisekunden
            easing: 'ease-out', // Easing-Funktion
            delay: 0,
            once: true         // Animation nur beim ersten Scrollen
        });
    });
</script>


<body>
    <!-- Scroll-Button -->
    <button id="scrollTopBtn" onclick="scrollToTop()">&#8679;</button>

    <!-- JavaScript laden -->
    <script src="/assets/js/scrollTop.js"></script>
    <script src="/assets/js/events.js" defer></script>
    <script src="/assets/js/highlights.js" defer></script>
    <script src="/assets/js/trainingImageRotator.js"></script>
    <script src="/assets/js/turniereImageRotator.js"></script>
    <script src="/assets/js/chronik.js" defer></script>
    <script src="/assets/js/impressum.js" defer></script>
    <script src="/assets/js/kontaktScroll.js"></script>


<!--    <script src="/assets/js/all.min.js" defer></script>-->



    {% include header.html %}
    <main data-aos="fade-up" data-aos-delay="100">
        {{ content }}
    </main>
    {% include footer.html %}

</body>
</html>